// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// universal 

@import "bootstrap-sprockets";
@import "bootstrap";

li:hover
{
  background-color: #ffa64d;
}

body 
{
  padding-top: 20%;
  background-image: url('/assets/WP2.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.center 
{
  text-align: center;
}

.center h1 
{
  margin-bottom: 10px;
}

.jumbotron 
{
  margin-bottom: 0;
  background-color:#71a1b7;
}

.about
{
 
  background-color:pink;
  height:100px;
  padding:10px;
}

.row
{
  padding:10px;
}

footer
{
  background-color: #101010 ;
  position:fixed;
  bottom:0;
  width:100%;
  height:30px;
  color:white;
  font-size:10px;
}